<%- include("partials/header.ejs") %>
    <div class="about-contain">
        <h3>About</h3>
        <p>Welcome to the documentation section of the Book Review website.This project focused on creating a dynamic website that manages and reviews books, offering users the ability to read, add, edit, and delete book details.</p>
        <h3>Project Overview: </h3>
        <p>The Book Review website allows users to interact with a database containing comprehensive details of books. Users can read, add, edit, and delete book information, with certain features restricted to authorized users.</p>
        <h3>Key Features: </h3>
        <ul>
            <li>Book Database:</li>
            <p>Stores detailed information about books, including title, author, genre, reviews, and cover images sourced from OpenLibrary.org.</p>
            <li>User Interactions :</li>
                <ul>
                <li>Read: </li>
                <p>Users can browse through the collection of books and view their details.</p>

                <li>Sorting :</li>
                <ul>
                    <li><b>By Title :</b>   Alphabetically arranges books based on their titles.</li>
                    <li><b>By Recency :</b>    Sorts books based on publication date or date added, displaying the most recent ones first.</li>
                    <li><b>By Rating : </b> Arranges books based on user ratings, showcasing the highest-rated books at the top.</li>
                </ul>
                <li>Add:</li>
                <p>Authorized users can add new books, including relevant details and cover images.</p>
                </ul>
                <li>Admin Privileges:</li>
                <p>Editing and deletion features are restricted to authorized administrators.</p>
                <li>Integration with OpenLibrary.org :</li>
                <p>Book cover images are fetched from OpenLibrary.org, enhancing the visual representation of books on the website.</p>

        </ul>

        <h3>Challenges and Learning:</h3>
        <p>Challenges and learning experiences included API integration, building a custom API for CRUD operations, and implementing PostgreSQL for database management.</p>
        <h3>Conclusions: </h3>
        <p>The completion of the database section, combined with the REST API module, marks a significant milestone in the development of the Book Review website "Bookify". Struggles were overcome through dedication, collaborative learning, and mentorship, resulting in a comprehensive understanding of database management and API integration in web development.</p>
    </div>

    <hr>

<%- include("partials/footer.ejs") %>
